body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Lucida Sans Unicode', sans-serif;
    min-height: 100vh;
}

.link-main, .link-nav {
    text-decoration: none;
}
.link-nav:hover {
    color: #FDEB2B;
    transition: color 2s;
}
.link-main {
    color: #000000;
}
.link-nav, .footer-text {
    color: #FFFFFF;
}
.header-top {
    display: flex;
    justify-content: space-between;
    height: 6em;
}
.left-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 10px 5px 20px;
}
.right-side {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.social-media {
    height: 2em;
}
.logo {
    height: 5em;
}
.menu {
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    background-color: #6F0CBB;
    height: 3em;
}
/*main*/
.content {
    display: flex;
    margin: 70px;
}
.description {
    margin-right: 150px;
}
.description, .aside {
    text-align: justify;
}
h2, h3 {
    text-align: center;
    margin-bottom: 40px;
}

/*footer*/ 
footer {
    position: sticky;
    top: 100%;
}
.footer-content {
    background-color: #210934;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-text {
    letter-spacing: 0.5em;
}


/*slider*/
.d-block {
    height: 853px;
}
/*kalkulatory-main*/
.calcs {
    margin: 50px 0;
    display: flex;
    justify-content: center;
}
/*weglan wapnia*/
.calcium-title {
    align-self: center;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: 600;
}

.c-carbonate {
    border: 3px solid #210934;
    border-radius: 10px;
    height: 320px;
    width: 600px;
    display: flex;
    flex-direction: column;
    
}
.direct-title {
    background-color: #210934;
    color: #FFFFFF;
    height: 35px;
    width: 600px;
    text-align: center;
    padding: 5px;
}

.btn-hint, .btn-count, .btn-clear {
    background-color: #210934;
    color: #FFFFFF;
    border-color: #210934;
    width: 130px;
    height: 35px; 
    border-radius: 5px; 
}
.btn-hint {
    margin-bottom: 20px;
}

.btns-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    
    margin-left: 20px;
    margin-right: 20px;
    height: 60px;
    /* marginy na chwile*/
}
.btns-top {
    margin: 0 20px;
}
.cal-result {
    align-self: center;
}
.error-meat-weight, .error-calcium-weight {
    color: rgb(251, 7, 7);
    font-size: 10px;
    padding: 0;
    margin: 0;
}





